:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  height: 100%;
}

.container {
  height: 100%;
  width: 50%;
  padding: 1rem;
  flex-shrink: 0;
  position: relative;
  border-left: 2px solid #ccc;
}

.container .label {
  position: absolute;
  font-weight: bold;
  left: 1rem;
  top: 1rem;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.preview img {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
}

.image-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.preview button {
  margin-top: 1rem;
}

.image-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  width: 280px;
  text-align: center;
}
